# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

# IDE files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db